html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
}

.not-clicked {
    opacity: 1;
}

.clicked {
    opacity: 0;
}

.login {
    display: grid;
    place-items: center;
    padding: 0 10px 10px;
    border-style: solid;
    border-color: black;
}

#login-button {
    width: 100%;
}